@charset "utf-8";

html{
     width: 100%;
    font-size: 20px;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
   

}

.page{
     width: 100%;
    padding-bottom: 295%;
     background: url(../../img/bgimg/activity1-1280.png?21321);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    position:relative;
   
}
.back{
   width: 100%;
    position:fixed;
    top:0;
    z-index: 999999;
}
.backButton{

     background-repeat: no-repeat;
    background-size: 100% 100%;
     padding-bottom:100%;
    width:100%;
    margin-top: 1%;
}
.pageButton{
    background-image:url(../../img/item-activity1/backIndex.png);
     background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1.6rem;
    height: 0.8rem;
    line-height:0.8rem;

}
.time{
    position:absolute;
    top:7%;
    left: 40%;
    text-align: justify;
}

.Introduced{
    margin-top: 5%;
    width: 90%; 
    text-align: left;
 
}
.ruler{
    width: 100%;
    z-index:99;
    position:absolute;
    top:24%;
    color:#438fd8;
    text-align: center;
}
.rulertext{
    width: 65%;
    text-align:left;
    margin-left: 20%;
    font-size: 1.8vmax;

}
.missoinTitle{
    text-align: center;
    width: 100%;
    z-index: 9;
}

.puzzle{
    width: 70%;
    border-style: none;
    position:absolute;
    top: 49.4%;
    left:15%;
    text-align: center;
}

.puzzleButton{
    position:absolute;
    width: 100%;
    text-align: center; 
    margin-top: 1%;
    line-height: 0.5rem;

}
.PuzzleMask{
     height: 50vh;
    margin-top: 1%;
     background-image: url(../../img/item-activity1/puzzle.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 100%;
    z-index: 900;
}
.PuzzleMsakTable{
     height:100%;
    width: 100%;
    z-index: 9999;
    
}
.tdm{
    background:rgba(0,0,0, 0.5);/*实现半透明*/
    border: 0.05rem solid black;
    width: 10%;
  
}


.mission{
   width: 70%;
    border-style: none;
    position:absolute;
    top: 34%;
    left:15%;
    z-index: 99999;
    text-align: left;
    
    
}
.mission1{
    margin-top: 1%;
    text-align: center;
}
.mission2{
   width: 70%;
    border-style: none;
    position:absolute;
    top:71%;
    left:15%;
    z-index: 99999;
    text-align: center;
}
.missionList{
    margin-top: 1%;
    width: 99%;
    text-align: center;
}

.td1{
    background-color: #6ab8ea;
    height: 1vh;
    width: 30%;
    border-color: #a4d4eb;
    border-right-width: 1.5vmax;
    border-style: solid;

}
.td2{
    background-color: #6ab8ea;
    height: 1vh;
    width: 31%;
    border-color: #a4d4eb;
    border-right-width: 1vmax;
    border-left-width:1vmax;
    border-style: solid;

}
.td3{
    background-color: #6ab8ea;
    height:1vh;
    width: 30%;
    border-color: #a4d4eb;
    border-left-width: 1.5vmax;
    border-style: solid;

}
.tr1{
height: 24vh;
}
item{
    color:#0c6db8;
    font-size: 1vmax;
}

.itemImg{
    margin-top: 1%;
    height: 10vh;
    background-repeat:no-repeat;
    background-size:100% 100%;
    
}
missionDesc{
    margin-top: 1%;
    font-size:1.3vmax;
    color: white;
} 
missionDescP{
    font-size: 1.3vmax;
    color: white;
}
.trCum{
    height: 8vmax;
}
.tdCum1{
    background-image: url(../../img/item-activity1/cumbg.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    padding-bottom: 3%;
    padding-top: 5%;

    border-color: #a4d4eb;
    border-style: solid;
    border-right-width: 8vmax;
    border-left-width: 3vmax;

}
.tdCum2{
    background-image: url(../../img/item-activity1/cumbg.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    padding-bottom: 3%;
    padding-top: 5%;

    border-color: #a4d4eb;
    border-style: solid;
     border-right-width: 8vmax;


}
.tdCum3{
    background-image: url(../../img/item-activity1/cumbg.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    padding-bottom: 3%;
    padding-top: 5%;

    border-color: #a4d4eb;
    border-style: solid;

    border-right-width: 2.8vmax;
}

.tdCumNum1{
    border-color: #a4d4eb;
    border-style: solid;
    border-right-width: 8vmax;
    border-left-width: 3vmax;
}
.tdCumNum2{
    border-color: #a4d4eb;
    border-style: solid;
     border-right-width: 8vmax;
}
.tdCumNum3{
     border-color: #a4d4eb;
    border-style: solid;
    border-right-width: 2.2vmax;
}

CumNum{
    font-size:1.5vmax;
    color: #2b80e9;
}

.circle{
 width:0.5rem;
    height: 0.5rem;
}
.circleTd{
    width: 33%;
  
    border-right-width: 0.82rem;
    border-left-width: 0.82rem;
    
    
}
  

p{
  color: #2b80e9;
    font-size:0.7vmax;
    
}
.cumCircle{
    position:inherit;
    z-index:111;
    margin-top: -0.39rem;
}

m1{
    font-size:2.5vmax;
    color:#32d6ff;
    
}/*活动大标题*/
m2{
    font-size:1.5vmax;
    color:white;
    line-height: 0.1rem;
  
}
m3{
    font-size:3vmax;
    color:#4491da; 
    line-height: 0.6rem;
}
buttonText{
    font-size:2vmax;
    color:white;
}
m5{
    margin-top: 1%;
    font-size:1.7vmax;
    color:#438fd8;
    line-height: 0.2rem;
}
cumProbarFont{
      font-size:0.5vmax;
    color:white;
}
puzzleMisson{
       font-size:1.7vmax;
    color:white;
}
.button1-yes
{
   background-image: url(../../img/item-activity1/button-1.png);
background-repeat:no-repeat;
background-position: center center;
    background-size: contain;
     text-align: center;
     line-height: 10vh;
    height: 10vh;
}
.button1-no
{
  background-image: url(../../img/item-activity1/button-2.png);
background-repeat:no-repeat;
background-position: center center;
    background-size: contain;
     text-align: center;
     line-height:10vh;
    height:10vh;
}
.button2-yes{
background-image: url(../../img/item-activity1/button-1.png);
background-repeat:no-repeat;
background-position: center center;
    background-size: contain;
     text-align: center;
     line-height: 10vh;
    height:10vh;
    
}
.button2-no{
background-image: url(../../img/item-activity1/button-2.png);
background-repeat:no-repeat;
background-position: center center;
    background-size: contain;
     text-align: center;
     line-height:10vh;
    height:10vh;
    
}

.cumProbarNull{
   background-image: url(../../img/item-activity1/cumProbarNull.png);
     background-repeat:no-repeat;
    background-size: 100% 100%;
    padding-bottom:4%;



}
.cumProbar1{
  background-image: url(../../img/item-activity1/cumProbar.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -2.8%;
    margin-left: 0.1%;
    position:inherit;
    z-index:11;
    height: 1vmax;
    border-radius: 1rem;

}
.cumProbar2{
  background-image: url(../../img/item-activity1/cumProbar.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -1.4%;
    margin-left: 18.5%;
    position:inherit;
    z-index:11;
    height: 1vmax;

    border-radius: 1rem;
}
.cumProbar3{
 background-image: url(../../img/item-activity1/cumProbar.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -1.4%;
    margin-left: 53.3%;
    position:inherit;
    z-index:11;
    height: 1vmax;

    border-radius: 1rem;
}
.cumProbar4{

  background-image: url(../../img/item-activity1/cumProbar.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -1.45%;
    margin-left:87.8%;
    position:inherit;
    z-index:11;
    height: 1vmax;

    border-radius: 1rem;
}




.sideBar{
      left: 90%;
    position:fixed;
    top:50%;
    width:10%;
    z-index: 99999;
}
.sideBarButton{
    background-image: url("../../img/item-activity1/side.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    text-align: right;
    height:15vh;
    line-height:13vh;
}
sideBarFont{
     font-size:1.7vmax;
    color:white;
}
.step1{
     position:absolute;
    top: 30%;
}
.step2{
     position:absolute;
    top: 46%;
}
.step3{
     position:absolute;
    top: 67%;
}