<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>第二级菜单</title>
    {% load staticfiles %}
    <link href="http://byzh-cdn.amzgame.com/static/css/css-activity1/style.css? _=201712180172" rel="stylesheet" type="text/css">
<script  src="http://byzh-cdn.amzgame.com/static/js/adaptation.js "></script>
    <meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="http://g.alicdn.com/kissy/k/1.4.8/seed-min.js"></script>
    <meta charset="utf-8">
    <script  src="http://byzh-cdn.amzgame.com/static/js/jquery-3.2.1.min.js "></script>
    <script  src="http://byzh-cdn.amzgame.com/static/js/JQsession.js "></script>
    <script src="http://byzh-cdn.amzgame.com/static/js/MyJQ.js?_=20171218085"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="wap-font-scale" content="no">



</head>
<body class="body" id="bg" >

<div id="page" class="page">
    <div id="back" class="back"><a href="../indexPage" style="height: inherit;float: left"><img class="backButton" src="http://byzh-cdn.amzgame.com/static/img/item-activity1/backIndex.png"></a>
        <a href="uniwebview://close" style="height: inherit;float: right"><img class="backButton" src="static/img/item-activity1/cancel.png"></a></div>


    <div id="step1" class="step1"></div><div id="step2" class="step2"></div><div id="step3" class="step3"></div>
    <div id="time" class="time"><m1><b>完成拼图解锁赵云圣诞限定皮肤<br></b></m1><m2><br>活动时间：2017年12月21日——2018年01月05日</m2></div>
    <div id="ruler" class="ruler"><b><m3>活动规则<br></m3></b><div class="rulertext">1.每完成每日三个【每日狂欢】，可点亮一个拼图，并领取对应奖励<br>2.每个【每日狂欢】任务每日只能完成一次，并于凌晨5:00刷新<br>3.完成任务累计数目达到10、20、30个时，可开啓[累计好礼]<br>4.在活动时间内点亮整幅拼图，可获得[赵云圣诞限定皮肤]大奖<br>5.所有奖励通过邮件发放</div></div>
    <div id="puzzle" class="puzzle">
        <div id="PuzzleTitle" class="missoinTitle"><m5>每完成每日三个【每日狂欢】，可点亮一个拼图，并领取对应奖励</m5><br>
        </div>
        <div id="PuzzleMask"  class="PuzzleMask"><table id=PuzzleMsakTable class="PuzzleMsakTable">
            <tr><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td></tr>
            <tr><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td></tr>
           <tr><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td><td class="tdm"></td></tr>


            </table></div>


        <div class="puzzleButton">
        <b><puzzleMisson id="puzzleMisson" name="{{ mission7.6 }}"></puzzleMisson></b>
                            <div id="PuzzleButtonYes" class="button1-yes" name="{{mission7.0}}"><buttonText>领取皮肤</buttonText></div><br>
                            <div id="PuzzleButtonNo1" class="button1-no"><buttonText>进行中</buttonText></div><br>
                                <div id="PuzzleButtonNo2" class="button1-no"><buttonText>已领取</buttonText></div><br>

        </div>
    </div>
    <div id="mission" class="mission">
        <div id="mission1" class="mission1">
            <div class="missionTitil"><m5>每个【每日狂欢】任务只能完成一次，并于凌晨5:00刷新</m5></div>
            <table id="missionList" class="missionList">
                <tr class="tr1">
                    <td class="td1"><br>
                        <item><b>{{ mission1.2 }}*{{ mission1.3 }}</b></item><br>
                        <img src="http://byzh-cdn.amzgame.com/{{ mission1.5 }}" class="itemImg"><br>
                        <missionDescP>{{ mission1.6 }}</missionDescP><br>
                        <missionDesc>{{ mission1.1 }}</missionDesc>

                            <div id="mission1buttonYes" class="button2-yes" name="{{mission1.0}}"><buttonText>领取</buttonText></div>
                            <div id="mission1buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                            <div id="mission1buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div>
                        <br>
                    </td>
                    <td class="td2">
                     <item><b>{{ mission2.2 }}*{{ mission2.3 }}</b></item><br>
                        <img src="http://byzh-cdn.amzgame.com/{{ mission2.5 }}" class="itemImg"><br>
                        <missionDescP>{{ mission2.6 }}</missionDescP><br>
                        <missionDesc>{{ mission2.1 }}</missionDesc>
                            <div id="mission2buttonYes" class="button2-yes" name="{{mission2.0}}"><buttonText>领取</buttonText></div>
                            <div id="mission2buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                                <div id="mission2buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div></td>
                    <td class="td3">
                    <item><b>{{ mission3.2 }}*{{ mission3.3 }}</b></item><br>
                        <img src="http://byzh-cdn.amzgame.com/{{ mission3.5 }}" class="itemImg"><br>
                        <missionDescP>{{ mission3.6 }}</missionDescP><br>
                        <missionDesc>{{ mission3.1 }}</missionDesc>
                            <div id="mission3buttonYes" class="button2-yes" name="{{mission3.0}}"><buttonText>领取</buttonText></div>
                            <div id="mission3buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                                <div id="mission3buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div></td>
                </tr></table>
        </div>


    </div>
       <div id="mission2" class="mission2">
             <div class="missionTitil"><m5>完成任务累积数目达到10、20、30个时，可开啓【累计好礼】<br></m5></div>

            <div id="itemCum">
                <table class="missionList">
                    <tr >
                        <td class="tdCum1">
                            <item><b>{{ mission4.2 }}*{{ mission4.3 }}</b></item><br>
                            <img src="http://byzh-cdn.amzgame.com/{{ mission4.5 }}" class="itemImg"><br>

                        </td>
                        <td class="tdCum2">
                            <item><b>{{ mission5.2 }}*{{ mission5.3 }}</b></item><br>
                            <img src="http://byzh-cdn.amzgame.com/{{ mission5.5 }}" class="itemImg"><br>
                        </td>
                        <td class="tdCum3">
                            <item><b>{{ mission6.2 }}*{{ mission6.3 }}</b></item><br>
                            <img src="http://byzh-cdn.amzgame.com/{{ mission6.5 }}" class="itemImg"><br>
                        </td>
                    </tr>
                    </table><br>
                <div>

                <div id="cumProbarNull" class="cumProbarNull"></div>
                    <div id="cumProbar1" class="cumProbar1"></div>
                    <div id="cumProbar2" class="cumProbar2"></div>
                    <div id="cumProbar3" class="cumProbar3"></div>
                    <div id="cumProbar4" class="cumProbar4"></div>
               <br>
                </div>
                <table class="missionList">
                     <tr>
                        <td class="tdCumNum1"><p>{{ mission4.1 }}<br><missionDescP>{{ mission4.6 }}</missionDescP><br></p><br>

                                 <div id="mission4buttonYes" class="button2-yes" name="{{mission4.0}}"><buttonText>领取</buttonText></div>
                             <div id="mission4buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                                <div id="mission4buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div>
                        </td>
                        <td class="tdCumNum2"><p>{{ mission5.1 }}<br> <missionDescP>{{ mission5.6 }}</missionDescP><br></p><br>


                            <div id="mission5buttonYes" class="button2-yes" name="{{mission5.0}}"><buttonText>领取</buttonText></div>
                             <div id="mission5buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                                <div id="mission5buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div>
                         </td>
                        <td class="tdCumNum3"><p>{{ mission6.1 }}<br><missionDescP>{{ mission6.6 }}</missionDescP><br></p><br>
                            <div id="mission6buttonYes" class="button2-yes" name="{{mission6.0}}"><buttonText>领取</buttonText></div>
                             <div id="mission6buttonNo1" class="button2-no"><buttonText>进行中</buttonText></div>
                                <div id="mission6buttonNo2" class="button2-no"><buttonText>已领取</buttonText></div>
                           </td>
                    </tr>


                   <data id="Uin" name="{{ Uin }}"></data><data id="SvrId" name="{{ SvrId }}"></data><data id="SvrIP" name="{{ SvrIP }}"></data>


                </table>



            </div>

        </div>
    <div id="sideBar" class="sideBar">
        <a href="#step1" ><div class="sideBarButton"><sideBarFont><b>每日任务&nbsp;</b></sideBarFont></div></a>
        <a href="#step2"><div class="sideBarButton"><sideBarFont><b>拼图解锁&nbsp;</b></sideBarFont></div></a>
    <a href="#step3"><div class="sideBarButton"><sideBarFont><b>累积好礼&nbsp;</b></sideBarFont></div></a></div>
</div>
</body>

</html>
