<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://byzh-cdn.amzgame.com/static/css/css-activity2/style.css?_=20171215009" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <script  src="http://byzh-cdn.amzgame.com/static/js/adaptation.js "></script>
    <script src="http://g.alicdn.com/kissy/k/1.4.8/seed-min.js"></script>
     <script  src="http://byzh-cdn.amzgame.com/static/js/jquery-3.2.1.min.js "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <title>军团远征</title>

</head>
<body style="text-align: center" >
        <div id="back" class="back"><a href="uniwebview://close"><div class="backButton"></div></a></div>
        <div id="title" class="title"><span class="backPage"><a href="../indexPage"> <span style="color: white">&nbsp;<首页 &nbsp;</span></a></span><span class="titleFont">活动 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></div>
        <div class="page">
        <div class="texttitle">【新玩法】<span class="time">2017-12-14 13:32:22</span></div><br>
            <hr class="hr"/><br>
        <p class="h1"><span class="line">▌</span> <b>活动远征火爆开启！</b></p>
         <img src="http://byzh-cdn.amzgame.com/static/img/item-activity2/1_A.png" class="img">
            <p class="h2"><b>1.什么是军团远征?</b></p><br>
            <p class="p1">军团远征是军团中开启的又一玩法，是两个军团之间，<span style="color:#FB9027">主公vs主公的攻防战</span>。参与更有机会获得海量钻石以及神将碎片、专武！还有高阶兵符、阵法秘籍等珍稀材料！</p>
            <p class="h2"><b>2.军团远征如何参与？</b></p><br>
            <img src="http://byzh-cdn.amzgame.com/static/img/item-activity2/2_A.png" class="img">
            <p class="p1">点击军团按钮，进入军团界面，点击军团界面中“军团远征”进入界面。</p>
            <img src="http://byzh-cdn.amzgame.com/static/img/item-activity2/3_A.png" class="img">
            <p class="p1"><span style="color:#FB9027">点击“布阵”</span>进行阵容排布，分<span style="color:#FB9027">攻与守</span>，攻守阵容可以相同。</p>
            <img src="http://byzh-cdn.amzgame.com/static/img/item-activity2/4_A.png" class="img">
           <p class="p1"> 完成后点击确认，静待<span style="color:#FB9027">军团长</span>开启军团远征。</p>
            <img src="http://byzh-cdn.amzgame.com/static/img/item-activity2/5_A.png" class="img">
            <p class="p1">远征开启后，主公开始征战吧！</p>
             <hr class="hr"/><br>
            <div class="foot"><span class="index"><a href="../indexPage"> &nbsp;<首页 &nbsp;</a></span><a href="#top"><span class="top">&nbsp; 顶部↑ &nbsp;</span></a></div>
        </div>



</body>