<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://byzh-cdn.amzgame.com/static/css/css-index/style.css?_=20180105" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <script  src="http://byzh-cdn.amzgame.com/static/js/adaptation.js "></script>
    <script src="http://g.alicdn.com/kissy/k/1.4.8/seed-min.js"></script>
     <script  src="http://byzh-cdn.amzgame.com/static/js/jquery-3.2.1.min.js "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <title>第一级菜单</title>
    <script type="application/javascript">
        function NoOpen(){
            var date=new Date();
            var activityDate=new Date("2018-01-06 00:00:00");
           if(date>activityDate){
              $("#text1").text("活动已关闭");
               $("#act1").attr("href","#")
           }

        }

        function NoticeListRetract() {
             NoOpen()
            var tdNum = $("table tr").length
            if (tdNum > 2) {
                for (i = 2; tdNum > i; i++) {
                    $("tr:eq(" + i + ")").hide()
                }
                $("#OpenNotice").show()
                $("#DownNotice").hide()
            }
            else{
                     $("#OpenNotice").hide()
                $("#DownNotice").hide()
                }
        }
        function NoticeListOpen(){
             var tdNum=$("table tr").length

                for(i=0;tdNum>i;i++){
                    $("tr:eq("+i+")").show()
                }

                $("#OpenNotice").hide()
                $("#DownNotice").show()
        }




    </script>
</head>
<body style="text-align: center" onload="NoticeListRetract()">
    <div class="page">
        <div id="back" class="back"><a href="uniwebview://close"><div class="backButton"></div></a></div>
        <div id="title" class="title"><titleFont>活动</titleFont></div>
        <div id="activityList" class="activityList">
            <a href="../activity1.html" id="act1"><div class="activity1" id="ActivityTitle" ></div><div class="text1" id="text1">活动时间：2017年12月21日～2018年01月05日</div></a>
            <a href="../activity2"><div class="NewRelease" id="NewRelease" ></div></a>
            <a href="../notice/1"><div class="Notice" id="Notice" ><div class="text3">获取版本最新消息>></div></div></a>
            <!--<a href="#"onclick="NoOpen()"><div class="gifts" id="gifts" ></div><div class="giftbtn"></div></a>-->
            <table class="NoticeList" id="NoticeList">
                <tr><td class="th1">【公告】</td><td class="th2"><a  href="../notice/1">《乱斗三国》2017年12月22日维护公告</a></td><td class="th3">2017-12-12</td> </tr>
                <tr><td class="td1">【公告】</td><td class="td2"><a  href="../notice/2">《乱斗三国》2017年12月20日维护公告</a></td><td class="td3">2017-12-12</td> </tr>
                <tr><td class="td1">【公告】</td><td class="td2"><a  href="../notice/3">《乱斗三国》2017年12月13日维护公告</a></td><td class="td3">2017-12-12</td> </tr>
                



            </table>
            <div id="OpenNotice" class="OpenNotice" onclick="NoticeListOpen()">查看更多﹀</div>
            <div id="DownNotice" class="OpenNotice" onclick="NoticeListRetract()">收起︿</div><br>

        </div>

    </div>

</body>