<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://byzh-cdn.amzgame.com/static/css/css-Notice/style.css?_=1215026" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <script  src="http://byzh-cdn.amzgame.com/static/js/adaptation.js "></script>
    <script src="http://g.alicdn.com/kissy/k/1.4.8/seed-min.js"></script>
     <script  src="http://byzh-cdn.amzgame.com/static/js/jquery-3.2.1.min.js "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <title>公告</title>
    <script type="application/javascript">
        function read(){
            id=$("#id").attr("name")
            url="../static/Notice/"+id+".txt"
            htmlobj=$.ajax({url:url,async:false});

            $("#NoticeHTML").html(htmlobj.responseText)
        }
    </script>

</head>
<body style="text-align: center" onload="read()">
        <div id="back" class="back"><a href="../indexPage" class="backPage"></a><a href="uniwebview://close"><div class="backButton"></div></a></div>
        <div id="title" class="title"><span class="backPage"><a href="../indexPage"> <span style="color: white">&nbsp;<首页 &nbsp;</span></a></span><span class="titleFont">活动 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></div>
        <div class="page">

            <div id="NoticeHTML"></div>

             <hr class="hr"/><br>

            <div class="foot"><a href="../indexPage" class="index"> &nbsp;<首页 &nbsp;</a><a href="#top" class="top">&nbsp; 顶部↑ &nbsp;</a></div>
        </div><br><br><br>
        <data id="id" name="{{ id }}"></data>


</body>